/* styles.css */

p {
    line-height: 1.5;
}


body {
    text-align: center;
    background-color: hsl(220deg, 23%, 95%);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol,
li {
    text-align: center;
}

.recipe {
    height: auto;
    width: 400px;
    margin: 5px;
}